h1 {
    margin: 0 0 0.3em;
    font: 2.4em Georgia, Times, serif;
    color: #666;
}

.info {
    position: relative;
    padding: 5px;
    width: 1000px;
    background: #f0f0f0;
    margin-bottom: 1em;
    font-size: 0.9em;
    overflow: hidden;
}
.text{
    position: relative;
    padding: 5px;
    word-break: break-all;
    width: 1000px;
    background: #f0f0f0;
    margin-bottom: 1em;
    font-size: 0.9em;
    overflow: hidden;
}

.date {
    float: left;
}

.date, .author {
    margin: 0;
}

.date {
    background: url("/images/date.png") no-repeat 0 50%;
    padding-left: 24px;
}

.author {
    float: right;
}

body {
    width: 100%;
    margin: 0;
    font: 0.92em/1.4 Arial, sans-serif;
    min-width: 780px;
    background: #fff;
    color: #000;
}

div {

}
p {
    margin: 1em 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}