td {
    background: #113B49; /* Цвет фона ячеек */
}

a {
    color: #6cbcff;
    font-weight: bold;
    text-decoration: none;
}

table {
    background: #1F768A; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
}
