

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    flex-direction: column;
}

/*header{*/
/*    width: 1000px;*/
/*}*/

.avatar{
    height: 80%;
    width: 10%;
    margin-left: 10px;
}


.header{
    width: 900px;
    height: 50px;
    background: #3743b6;
}
.logout{
    padding: 10px;
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}