* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-family: Montserrat, sans-serif;*/
/*}*/
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

h1{
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
header{
    background: #4b4a45;
    display: block;
    position: relative;
    z-index: 2;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.error {
    border-bottom: 2px solid #ff4332;
}

.none{
    display: none;
}

.logout {
    color: #b7625c;
}
